nav {
    padding: 5px;
    background-color:aqua;
    text-align:end;
}

a {
    color:rgb(183, 19, 19);
}

h1{
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:black;
    color:aqua;
}

.titel{
    padding:10px;
    color:white;
}

.een{
    padding:20px;
    color:black;
    background-color:blueviolet;
}

.twee{
    padding:20px;
    color:rgb(205, 12, 208);
    background-color:rgb(76, 226, 86);
}

.drie{
    padding:20px;
    color:rgb(247, 8, 8);
    background-color:rgb(71, 71, 215);
}

section {
    background-color:blue;
}

footer {
    padding:5px;
    text-align:center;
    background-color:rgb(169, 105, 230);
    color:rgb(224, 10, 10);
}
